<mat-sidenav-container>

  <mat-sidenav #sidenav>

    <mat-nav-list>

      <img mat-card-md-image>

      <a mat-button style="height: 0; position: absolute;"></a>

      <mat-list-item routerLink="/main" (click)="sidenav.close()">
        <button mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>
        <a mdLine>Item 01</a>
      </mat-list-item>

      <mat-list-item routerLink="/main" (click)="sidenav.close()">
        <button mat-icon-button>
          <mat-icon>list</mat-icon>
        </button>
        <a mdLine>Item 02</a>
      </mat-list-item>

    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title }}</span>
  </mat-toolbar>

  <mat-card id="content">

    <router-outlet></router-outlet>
  </mat-card>
</mat-sidenav-container>